* {
	margin: 0;
	padding: 0;
	font-family: "Roboto";
	letter-spacing: 1px;
}

img {
	vertical-align: middle;
}


.design{
	display: flex;
}

.container {
	margin: 0 auto;
	max-width: 1366px;
	height: 2293px;
}	

.section {
	display: flex;
}


.block1 {
	width: 908px;
	height: 715px;	
}

.block2 {
	background-color: #f3f3f3;
	color: #262f32;
	width: 4458px;
	height: 715px;	
} 

.baguette {
	margin: 50px;
	width: 36px;
	height: 30px;
}

.line {
	background-color: black;
	margin-top: 12px ;
	width: 36px;
	height: 3px;
}


.head-indent3, .head-indent7, .head-indent8{
	margin: 70px 70px 70px 60px;
}		

.head-indent5, .head-indent6 {
	margin: 70px 120px 70px 60px;
}	

.head-indent, .head-indent7, .head-indent8{
	margin: 70px 90px 70px 60px;
}

.head-block2, .head-block3, .head-block5, .head-block6, .head-block7, .head-block8 {
	margin-bottom: 44px;
	text-transform: capitalize;
	font-size: 40px;
}

.ident {
	font-size: 15px;
	line-height: 26px;
}

.ident-block2,.ident-block5, .ident-block6 {
	margin-bottom: 45px;
}

.block3 {
	width: 613px;
	height: 854px;
	background-image: 
	  			linear-gradient(to top, rgba(49, 136, 155 ,0.9), rgba(79, 165, 184 ,0.9)),
	  			url("img/our-services.jpg");  		
}

.block3, .block6, .block7, .block8 {
	color: #ffffff;
}

.article-block3 {
	margin-bottom: 70px;
}

.p-head {
	display: inline-block;
	
	font-weight: 300;
}

.block4 {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.block5 {
	width: 753px;
	height: 427px;
	background-image: 
	  			linear-gradient(to top, rgba(238, 227, 195 ,0.9), rgba(239, 226, 194 ,0.9)),
	  			url("img/3.jpg");			
}

.head-indent5 {
	color: #262f32;
}

.button-block-5, .button-block-6 {
	transition: all 1s linear;
	background: transparent;
	padding: 15px 40px;
	border-radius: 11px;
	text-transform: capitalize;
	font-size: 15px;
}

.button-block-5 {
	border: 1px solid rgb(38, 47, 50);
}

.button-block-5-hover{
	transition: all 1s linear;
	color: rgba(244, 230, 196, 1.0);
	background: rgba(38, 47, 50, 1.0);
	
}

.block6 {
	width: 753px;
	height: 427px;	
	background-image: 
	  			linear-gradient(to top, rgba(16, 27, 35 ,0.7), rgba(28, 40, 50 ,0.8)),
	  			url("img/4.1.jpg");			
}


.button-block-6 {
	border: 1px solid #ffffff;
	color: #ffffff;
}

.button-block-6-hover{
	transition: all 1s linear;
	color: rgba(48, 52, 55, 1.0);
	background: rgba(255, 255, 255, 1.0);	
}

.block7 {
	width: 460px;
	height: 693px;
	background-image: 
	  			linear-gradient(to top, rgba(41, 78, 95 ,0.7), rgba(24, 67, 87 ,0.8)),
	  			url("img/designer1.jpg");	
}


.head-indent7 {
	margin-right: 40px;
}

.bottom {
	margin-top: 250px;
	text-transform: capitalize;
} 

.p-sayed {
	margin-top: 35px;
	margin-bottom: 15px;
	font-size: 45px;
}

.block8 {
	background-color: #E9AB17;
	width: 906px;
	height: 693px;
	background-image: 
	  			linear-gradient(to top, rgba(142, 143, 141 ,0.4), rgba(57, 66, 66 ,0.8)),
	  			url("img/rectangle1.jpg"); 			
}

.indent8 {
	margin-right: 0;
}

.q-hello {
	quotes:  "\2018" "\2019" ;
}

input {
	padding: 14px 0px;
	padding-left: 30px;
	width: 270px;
	margin-right: 10px;
	margin-bottom: 15px;
}

input, textarea {
	color: #ffff;
	border: 1px solid #ffff;
	border-radius: 13px;
	background: transparent;
}

.message {
	padding-top: 23px;
	padding-left: 30px ;
	width: 586px;
	height: 143px;
	resize: none;
}

input::placeholder, textarea::placeholder {
	color: #ffff;
	text-transform: capitalize;
}

.bottom-mes {
	margin-top: 85px;
	margin-bottom: 0;
}

.fsocial, .drible, .twitter {
	margin-top: 23px;
	margin-bottom: 50px;
	margin-right: 3px;
	display: inline-block;
	width: 45px;
	height: 45px;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
}

.fsocial {
	background-image: 
				url("img/Facebook.png"),
	  			url("img/dark.png");
}

.drible {
	background-image: 
				url("img/Dribbble.png"),
	  			url("img/pink.png");
}

.twitter {
	background-image: 
				url("img/Twitter.png"),
	  			url("img/blue.png");
}


.block-left-animation {
	animation: bounceInLeft 1s ease-in-out 1;
} 

.block-right-animation {
	animation: bounceInRight 1s ease-in-out 1;
} 


@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-1000px);
	}
	60% {
		transform: translateX(20px);
	}
	80% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0px);
	}
}



@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(1000px);
	}
	60% {
		transform: translateX(-20px);
	}
	80% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0px);
	}
}

